install
procnto-smp-instr.sym
*.pinfo
*.o
*.a
*.dep
*.def
*.use
*.map
wdtkick
msix-rp1
gpio-rp1
fan-rpi5
mbox-bcm
gpio-bcm
gpio-aon-bcm
devb-sdmmc-bcm2712
spi-dwc
i2c-dwc-rpi5
devc-ser-stm32mp2
prebuilt